@import 'config';

header{
   @include flex-wrap;
   padding: 10px 0;
   height: 10vh;


}
.navbar{
    background: $nav-color;
    padding: 2px 0;
    
//    display: flex;
//    justify-content: space-around;
//    align-items: center;

    .logo a{
        text-transform: lowercase;
        font-size: 1.4rem;
        transition: .5s ease;
        //margin-top: -10px;
        &:hover{
            color: #fff;
        }
    }
    .navbar-menu{
        display: flex;
        margin-top: -15px;
    }

    li{
        margin-left: 30px;
        list-style: none;
        cursor: pointer;

       a{
           transition: .5s ease;
           font-weight: bolder;

           &:hover{
            color: #fff;
        }

       }
     
        
    }
    .burger{
        display: none;
    }
}

.main-info-section{
    height: calc(100vh - 81.6px);

    .text{
        margin-top: 120px;

        h1{
            color: #fff;
            font-size: 3rem;
            cursor: pointer;

            span{
                display: inline-block;

                &:hover{
                    color: $title-color2;
                }


            }

            .name{
                color: $title-color1;
            }


            .m-left{
                margin-left: -10px;
            }
        }

        p{
            letter-spacing: 3px;
            word-spacing: 10px;
            font-size: .8rem;

        }

        .contact{
            padding: 12px 25px;
            background: none;
            border: 3px solid $title-color1;
            color: $title-color1;
            font-size: .8rem;
            letter-spacing: 2px;
            position: relative;
            top: 50px;
            overflow: hidden;
            transition: 0.5s ease;
            display: inline-block;
            font-weight: bold;

            &:hover{
                color: #fff;
            }

            &::before{
                content:'' ;
                background: $title-color1;
                position: absolute;
                right: 0;
                top: 0;
               
                width: 0%;
                height: 100%;
                z-index: -1;
                transition: 0.5s ease;

            }

            &:hover::before{
            
                width: 100%;
                
            }

        }
        .social-links{
            margin-top: 90px;

            i{
                color: grey;
                font-size: 2.5rem;
                margin-right: 10px;
                transition: .5s all ease;

                &:hover{
                    color: $title-color2;
                }
            }
        }
    }

    .profile-img img{
        width: 300px;
        margin-top: 100px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: .5s ease;
        filter: grayscale(1);

        &:hover{
            transform: scale(1.2);
            filter: inherit;
        }

    }

    #toTopBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color:$title-color2;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        transition: all ease .3s;

        &:hover {
            background-color: $title-color1;
          }
      }
      
   
}