@import 'config';
   

.work{
    height: auto;
    margin: 100px 0 ;
    
    div[class^='category-']{
       
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        grid-gap: 15px;
        //position: relative;
      
    }

    a{
        justify-content: center;
        position: relative;
        overflow: hidden;
       
        //display: inline-block;

        img{
            width: 100%;
            justify-content: center;
            border-radius: 10px;
            transition: all .3s;
            filter: grayscale(1);

           &:hover{
               transform: scale(1.05);
               z-index: 2;
               filter: inherit;
           }
        }
    }

    .work-category {
        justify-content: space-around;

        button{
            text-transform: capitalize;
            border: 3px solid $title-color1;
            border-radius: 20px;
            padding: 15px 35px;
            color: $title-color1;
            font-size: 1.1rem;
            letter-spacing: 1px;
            background: $body-color;
            outline: none;
            cursor: pointer;
            transition: .5s ease;

            &:hover{
                color: #fff;
                background: $title-color1;
            }

            .active{
                  color: #fff;

             }


          }

          
        .active{
            color: #fff;
             background: $title-color1;
             font-weight: bolder;
         }
          
    }


    div.hideCategory{
        
        display: none;
    }

    .showCategory{
        display: block;
    }
}