@import 'config';
   

.work{
    height: 100vh;
    margin: 100px 0 ;
    display: flex;
    flex-direction: column;
    position: relative;

    div[class^='category-']{
       
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 20px;
        position: relative;
      
    }

    a{
        justify-content: space-evenly;
        position: relative;
        display: inline-block;

        img{
            width: 300px;
            justify-content: center;
        }
    }

    .work-category {
        justify-content: space-around;

        button{
            text-transform: capitalize;
            border: 3px solid $title-color1;
            border-radius: 50px;
            padding: 15px 30px;
            color: $title-color1;
            font-size: 1.1rem;
            letter-spacing: 1px;
            background: $body-color;
            outline: none;
            cursor: pointer;
          }
          
        .active{
            color: #fff;
        }
          
    }

    div.hideCategoty{
        display: none;
    }

    div.showCategory{
        display: block;
    }
}